@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homeContainer {
  background-image: url("https://scontent.fmnl25-2.fna.fbcdn.net/v/t1.15752-9/155922214_1346152522418567_1535912498541957639_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeGRgMmxoIOD60DO7OSGDmrGZmSwzJY2uDRmZLDMlja4NCfK8LIZchkxQ2QnVqm11LGEk4EBOcp8Aze0Cghsg7NZ&_nc_ohc=-4K3FJbTesgAX_2VN85&_nc_ht=scontent.fmnl25-2.fna&oh=623706ab1aa6f8de09ed4aafc32bbf27&oe=61864548");
  background-color: #f8d7d7;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
}

.ul li {
  text-decoration: none;
  padding: 1rem !important;
}
li a {
  text-decoration: none !important;
  color: rgb(78, 78, 78) !important;
  font-size: 20px;
  font-weight: 700;
}
li a .active {
  color: blanchedalmond;
}
.outfitOfTheDay h2 {
  font-family: "Bree Serif", serif;
  color: rgb(177, 128, 137);
  font-weight: 700;
  font-size: 70px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke: 1px rgb(219, 219, 219);
  letter-spacing: 3px;
  margin-left: 20px;
}
.left-landing-page-qoute {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-size: 70px;
  padding: 5px;
  text-align: center;
  margin-top: 320px;
}
.left-landing-images {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-top: 120px;
}
.left-landing-images img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.left-landing-images img:nth-child(3) {
  position: absolute;
  left: 140px;
  top: 150px;
}
.left-landing-images img:nth-child(2) {
  position: absolute;
  right: 0;
  top: 50px;
}
.left-landing-images img:nth-child(1) {
  position: absolute;
  left: 75px;
  top: 40px;
}
.landing-page-container {
  display: flex;
  flex-direction: row;
}
.table-landing-page {
  margin-left: 60px;
}
.content-output-container {
  width: 75%;
}
.content-output-images {
  width: 25%;
}
table thead tr th:first-child {
  border-right: 2px solid black;
}
table tbody tr td:first-child {
  border-right: 2px solid black;
}
table tbody tr td {
  border-bottom: 2px solid black;
}
table tbody tr td img {
  display: block;
  justify-self: center;
}
.images-landing-page-table {
  width: 120px;
  height: 140px;
  padding: 10px;
}
.no-border {
  border: none;
}

.floating-card {
  background-image: url("https://scontent.fmnl25-2.fna.fbcdn.net/v/t1.15752-9/100730418_536636997242235_3271659774013341696_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeHEfG7J2iuWXURmfok-NZ-w-2U2bUgetir7ZTZtSB62KpVzC5w-TjhKQEhm2eIez2NhcF4aGwHnPVXa1CVzLK1t&_nc_ohc=tI-cDygX1kgAX_JjzCG&_nc_ht=scontent.fmnl25-2.fna&oh=b94c6e051e466844d4f2298270d708bd&oe=61868CCC");
  background-color: #f8d7d7;
  height: 400px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 180px;
  left: 380px;
}
.floating-card-images {
  display: flex;
  margin: 45px 50px 75px;
  justify-content: center;
}
.floating-card-images img {
  height: 290px;
  margin-left: 10px;
  width: 130px;
}
@media screen and (max-width: 870px) {
  .landing-page-container {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }
  .content-output-container {
    width: 100%;
    padding: 10px;
    margin: 5px;
  }
  .content-output-images {
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .left-landing-page {
    margin-top: 350px !important;
  }
  .left-landing-page-qoute {
    width: 100%;
    text-align: center;
  }
  .left-landing-images img:nth-child(3) {
    position: absolute;
    left: 100px;
    top: 150px;
  }
  .left-landing-images img:nth-child(2) {
    position: absolute;
    left: 40px;
    top: 50px;
  }
  .left-landing-images img:nth-child(1) {
    position: absolute;
    left: 150px;
    top: 60px;
  }
  .homeContainer {
    height: auto;
  }
  .outfitOfTheDay {
    display: block;

    margin-left: 0;
  }
  .floating-card {
    top: 780px;
    left: 40px;
    width: 350px;
  }
}